<div class='loginForm'>
    <h1>Registrate</h1>
    <form class='form' id="signupForm">
        <label class='label'>
            Nombre:
            <input class='loginInput'
                name='first_name'
                type="text"
                required
            />
        </label>
        <label class='label'>
            Apellido:
            <input class='loginInput'
                name='last_name'
                type="text"
                required
            />
        </label>
        <label class='label'>
            Email:
            <input class='loginInput'
                name='email'
                type="email"
                required
            />
        </label>
        <label class='label'>
            Contrase침a:
            <input class='loginInput' 
                placeholder='Debe tener 6 o m치s caracteres'
                name='password'
                type="password"
                required
            />
        </label>
        <label class='label'>
            Confirmar Contrase침a:
            <input class='loginInput' 
                placeholder='Debe tener 6 o m치s caracteres'
                name='password_confirm'
                type="password"
                required
            />
        </label>
        <div classe='label'>
            <button type='submit' class='loginButton'>Registrarse</button>
        </div>
        <div class='label-text'>
            Ya tienes cuenta? <a href="/login.html">Inicia Sesion</a>
        </div>
    </form>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/signup.js"></script>