<div class='loginForm'>
    <h1>Recuperar Contrase침a</h1>
    <form class='form' id="forgotPassword">
        <label class='label'>
            Email:
            <input class='loginInput'
                name='email'
                type="email"
                required
            />
        </label>
        <label class='label'>
            Nueva Contrase침a:
            <input class='loginInput' 
                name='password'
                type="password"
                required
            />
        </label>
        <div class='label'>
            <button type='submit' class='loginButton'>Crear Nueva Contrase침a</button>
        </div>
        <div class='label-text'>
           <a href="/login.html">Volver a Iniciar Sesi칩n</a> 
        </div>
    </form>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/forgot-password.js"></script>