<div class='loginForm'>
    <p class='label-text' id='tokenCount'>{{timeLeft}}</p>
    <h1>Recuperar Contrase침a</h1>
    <form class='form' id="resetPassword">
        <input type='hidden' name='token' value='{{ token }}'>
        <label class='label'>
            Nueva Contrase침a:
            <input class='loginInput' 
                name='password'
                type='password'
                required
            />
        </label>
        <div class='label'>
            <button type='submit' class='loginButton'>Resetear Contrase침a</button>
        </div>
        <div class='label-text'>
           <a href="/login.html">Volver a Iniciar Sesi칩n</a> 
        </div>
    </form>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/reset-password.js"></script>
<script>
    // CONTADOR 
        let timeLeft = {{ timeLeft }}
        let elementCount = document.getElementById('tokenCount')

        function updateCount() {
            elementCount.textContent = timeLeft--
            if (timeLeft < 0) {
                clearInterval(interval)
                elementCount.textContent = 'Token Expired'
                window.location.href= 'http://localhost:8080/api/forgotPassword'
            }
        }

        // ACTUALIZAR CONTADOR CADA SEGUNDO
        let interval = setInterval(updateCount, 1000)
</script>