<header class='containerNav'>
    <nav class='nav'>
        <ul class='nav_list'>
            <li class='nav_page'>
                <a href="/api/products">Products</a>
            </li>
            <li class='nav_page'>
                <a href="/api/carts">Cart</a>
            </li>
            <li class='nav_page'>
                <a href="/api/profile">Profile</a>
            </li>
            {{#if isAdmin}}
            <li class='nav_page'>
                <a href="/api/users">Users</a>
            </li>
            {{/if}}
        </ul>
        <div class='nav-icons'>
            <p>BIENVENIDO/A:</p>
            <p class="nameUser">{{user.first_name}}</p>
            <p class="nameUser">Role: {{user.role}}</p>
        </div>
    </nav>
    <button class='nav-btn'>
        <FaBars />
    </button>
</header>

<h2>Users</h2>

<div class='userContainer'>
    <label class='labelFormUser' for="userRole">Elegir Role:</label>
    <select class="selectFormUser" id="userRole" name="role">
        <option value="admin">Admin</option>
        <option value="premium">Premium</option>
        <option value="user">User</option>
    </select>
    <div>
        <button class="logoutButton" onclick="editUser('{{ uid }}')">Modificar</button>
        <a href="/api/users"><button class="logoutButton" onclick="editUser('{{ uid }}')">Volver</button></a>
    </div>
</div>

<script src="/js/user.js"></script>