<header class='containerNav'>
    <nav class='nav'>
        <ul class='nav_list'>
            <li class='nav_page'>
                <a href="/api/products">Products</a>
            </li>
            <li class='nav_page'>
                <a href="/api/carts/65ad98aa813faafe418d2fde">Cart</a>
            </li>
            <li class='nav_page'>
                <a href="/api/profile">Profile</a>
            </li>
        </ul>
        <div class='nav-icons'>
            <p>BIENVENIDO/A:</p>
            <p class="nameUser">{{user.email}}</p>
        </div>
    </nav>
    <button class='nav-btn'>
        <FaBars />
    </button>
</header>

<h2>Profile</h2>

<div class='profileContainer'>
    <div class="infoContainer">
        <label class="labelProfile">Nombre: </label>
        <p class="textUser">{{user.first_name}}</p>
    </div>
    <div class="infoContainer">
        <label class="labelProfile" for="">Apellido: </label>
        <p class="textUser">{{user.last_name}}</p>
    </div>
    <div class="infoContainer">
        <label class="labelProfile" for="">Email: </label>
        <p class="textUser">{{user.email}}</p>
    </div>
    
    <button class="logoutButton" id="logout">Logout</button>
</div>

<script src="/js/profile.js"></script>